<html>
<head>
    <title>My First Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
       <a href="/">Home</a>
       <a href="/about">About</a>
       <a href="/contact">Contact</a>
    </nav>
    <h1>About page</h1>
    <h2>About Me</h2>
    <p>My name is Enkh-Uils Munkhkhuyag and I am 13 years old. I am a eighth grader and go to Attea Middle school. I have three younger siblings named Asral, Achlal and Jamiyan. I love coding and I love learning about it everyday.</p>
    <a href="https://google.com" target="_blank">Visit google.com</a>
</body>
</html>